/*stylesheet*/

/* vars */
:root {
  --base-font-size: 16px;
  --fluid-typography-ratio: 0.9;
}

body {
	margin: 0;
}

a:focus,button:focus,input:focus,textarea:focus {outline: none;}

.wrapper {
  position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

/* Masthead */

#masthead {
	background-color: rgb(54,56,76);
	padding: 0 1rem;
}

#nav {
	background-color: rgb(243,111,99);
}

#logo {
	padding: 1rem 0;
}

#logo #logo-holder {
  position: relative;
  color: var(--body-color);
  display: flex;
  align-items: center;
}

#logo a {
	width: 30%;	
}

#logo img {
	width: 100%;
	height: auto;
	display: block;
}

#nav .nav-menu {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav .nav-menu a {
  color: #000;
  text-decoration: none;
}


#nav .nav-menu a:hover {
	transition: all .2s ease-in;
    color: purple;
 
}

/* Thing */

#thing {
  background: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#thing-inner {
  padding: 15rem 10rem;
}

#thing-inner h1 {
  margin-top: 0;
}

/* Slider 

#slider {
  overflow: hidden;
}

#slider .prev, #slider .next {
  position: absolute;
  z-index: 2;
  margin: 1rem;
  font-size: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev span, .next span {
  cursor: pointer;
  display: block;
  background: #fff;
}

#slider-inner {

}

#slider .slide {

}

#slider img {
  display: block;
  height: auto;
  width: 100%;
}

*/

/* Image Map Home Page*/

#map {
	overflow: hidden;
}

#map img{
	width: 100%;
	height: auto;
	display: block;
}

#map-inner {
	position: relative;
}

#map-inner .map1 {
	position: absolute;
	z-index: 1;
	width: 12%;
	height: 20%;
	left: 57%;
	top: 40%;
	border: 5px solid transparent;
	transition: border .3s ease-in-out;
}

#map-inner .map2 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 10%;
  left: 52%;
  top: 47%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .map3 {
  position: absolute;
  z-index: 1;
  width: 18%;
  height: 12%;
  left: 24%;
  top: 42%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .map4 {
  position: absolute;
  z-index: 1;
  width: 15%;
  height: 12%;
  left: 78%;
  top: 43%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .map1:hover {
	border: 5px solid #f36f63;
}

#map-inner .map2:hover {
  border: 5px solid #f36f63;
}

#map-inner .map3:hover {
  border: 5px solid #f36f63;
}

#map-inner .map4:hover {
  border: 5px solid #f36f63;
}

.footer-home {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 47%;
  background-color: #f36f63;
  color: white;
  text-align: center;
}

.button-home {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36384c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button-home:hover {background-color: #2A8F8F}

.button-home:active {
  background-color: #9BB8B4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Tree */

#tree {
  overflow: hidden;
}

#tree img {
  width: 100%;
  height: auto;
  display: block;
}

#tree-inner {
  position: relative;
}

#tree-inner .bird-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 2rem;
  top: 2rem;
  border: 1px solid black;
  background: #fff;
}

.stuff {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#tree-inner .bird-overlay p:last-child {
  margin-bottom: 0;
}

#tree-inner .bird-overlay p:first-child {
  margin-top: 0;
}

#tree-inner .bird {
  position: absolute;
  z-index: 1;
  width: 12%;
  height: 10%;
  left: 24%;
  top: 37%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#tree-inner .bird:hover {
	border: 5px #f36f63;
}

.close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display:block;
  box-sizing:border-box;
  width:1rem;
  height:1rem;
  border-width:1px;
  border-style: solid;
  border-color:transparent;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%);
  background-color:white;
  transition: all 0.3s ease;
}

/* Barn 02*/
#barn02 {
  overflow: hidden;
}

#barn02 img {
  width: 100%;
  height: auto;
  display: block;
}

#barn02-inner {
  position: relative;
}

#barn02-inner .pidgeon-overlay, #barn02-inner .cheese1-overlay, #barn02-inner .rabit-overlay  {
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  border: 4px solid #f36f63;
  background: #fff;
}

#barn02-inner .pidgeon-overlay  {
  background-color: rgb(247,225,220);
  right: 2rem;
  top: 2rem;
}

#barn02-inner .cheese1-overlay  {
  background-color: rgb(247,225,220);
  width: 45%;
  right: 50%;
  top: 30%;
}

#barn02-inner .cheese1-overlay img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 2;
}

#barn02-inner .rabit-overlay  {
  background-color: rgb(247,225,220);
  width: 45%;
  right: 20%;
  top: 30%;
}

.stuff02 {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#barn02-inner .pidgeon-overlay p:last-child, #barn02-inner .cheese1-overlay p:last-child, #barn02-inner .rabit-overlay p:last-child {
  margin-bottom: 0;
}

#barn02-inner .pidgeon-overlay p:first-child, #barn02-inner .cheese1-overlay p:first-child, #barn02-inner .rabit-overlay p:first-child  {
  margin-top: 0;
}

#barn02-inner .pidgeon {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 6%;
  left: 58%;
  top: 32.3%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#barn02-inner .cheese1 {
  position: absolute;
  z-index: 1;
  width: 7%;
  height: 9.5%;
  left: 11%;
  bottom: 25%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#barn02-inner .rabit {
  position: absolute;
  z-index: 1;
  width: 7%;
  height: 9.5%;
  left: 88%;
  bottom: 13%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#barn02-inner .pidgeon:hover, #barn02-inner .cheese1:hover, #barn02-inner .rabit:hover  {
	border: 5px solid #f36f63;
}

.footer-barn02 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #f36f63;
  color: white;
  text-align: center;
}

.button-barn02 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36384c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button-barn02:hover {background-color: #2A8F8F}

.button-barn02:active {
  background-color: #9BB8B4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Barn 03*/
#barn03 {
  overflow: hidden;
}

#barn03 img {
  width: 100%;
  height: auto;
  display: block;
}

#barn03-inner {
  position: relative;
}

#barn03-inner .baby-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 5%;
  top: 20%;
 border: 4px solid #f36f63;
}

#barn03-inner .bat-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 50%;
  top: 6%;
  border: 4px solid #f36f63;
}

.stuff03 {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#barn03-inner .baby-overlay p:last-child, #barn03-inner .bat-overlay p:last-child {
  margin-bottom: 0;
}

#barn03-inner .baby-overlay p:first-child, #barn03-inner .bat-overlay p:first-child {
  margin-top: 0;
}

#barn03-inner .baby {
  position: absolute;
  z-index: 2;
  width: 4%;
  height: 6%;
  left: 42.2%;
  top: 55%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#barn03-inner .bat {
  position: absolute;
  z-index: 2;
  width: 7%;
  height: 9%;
  left: 20.3%;
  top: 22%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#barn03-inner .baby:hover, #barn03-inner .bat:hover {
	border: 5px solid #f36f63;
}

.footer-barn03 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #f36f63;
  color: white;
  text-align: center;
}

.button-barn03 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36384c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button-barn03:hover {background-color: #2A8F8F}

.button-barn03:active {
  background-color: #9BB8B4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Bush 01*/
#bush01 {
  overflow: hidden;
}

#bush01 img {
  width: 100%;
  height: auto;
  display: block;
}

#bush01-inner {
  position: relative;
}

#bush01-inner .squirrel-overlay, #bush01-inner .robin-overlay,  #bush01-inner .blackbird-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  border: 1px solid black;
  background: #fff;
}

#bush01-inner .squirrel-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 50%;
  top: 10%;
 border: 4px solid #f36f63;
}

#bush01-inner .robin-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 10%;
  top: 5%;
  border: 4px solid #f36f63;
}

#bush01-inner .blackbird-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
 width: 45%;
  right: 10%;
  top: 5%;
  border: 4px solid #f36f63;
}

.stuff04 {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#bush01-inner .squirrel-overlay p:last-child, #bush01-inner .robin-overlay p:last-child, #bush01-inner .blackbird-overlay p:last-child {
  margin-bottom: 0;
}

#bush01-inner .squirrel-overlay p:first-child, #bush01-inner .robin-overlay p:first-child,  #bush01-inner .blackbird-overlay p:first-child {
  margin-top: 0;
}

#bush01-inner .squirrel {
  position: absolute;
  z-index: 2;
  width: 8%;
  height: 10%;
  left: 28%;
  top: 29%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#bush01-inner .robin {
  position: absolute;
  z-index: 2;
  width: 6%;
  height: 8%;
  left: 67%;
  top: 40%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#bush01-inner .blackbird {
  position: absolute;
  z-index: 2;
  width: 6%;
  height: 6%;
  left: 76%;
  top: 56%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#bush01-inner .squirrel:hover, #bush01-inner .robin:hover, #bush01-inner .blackbird:hover {
  border: 5px solid #f36f63;
}

.footer-bush01 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #f36f63;
  color: white;
  text-align: center;
}

.button-bush01 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36384c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button-bush01:hover {background-color: #2A8F8F}

.button-bush01:active {
  background-color: #9BB8B4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* House 01*/
#map {
  overflow: hidden;
}

#map-inner {
  position: relative;
}

#map-inner .kaya-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 10%;
  top: 20%;
  border: 4px solid #f36f63;
}

#map-inner .pidgeon02-overlay {
  background-color: rgb(247,225,220);
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  left: 10%;
  top: 30%;
  border: 4px solid #f36f63;
}

.stuff02 {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#map-inner .kaya-overlay p:last-child, #map-inner .pidgeon02-overlay p:last-child {
  margin-bottom: 0;
}

#map-inner .kaya-overlay p:first-child, #map-inner .pidgeon02-overlay p:first-child {
  margin-top: 0;
}

#map-inner .kaya {
  position: absolute;
  z-index: 2;
  width: 16%;
  height: 15%;
  left: 55%;
  top: 55%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .pidgeon02 {
  position: absolute;
  z-index: 2;
  width: 9%;
  height: 9%;
  left: 1.5%;
  top: 13%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .kaya:hover, #map-inner .pidgeon02:hover {
  border: 5px solid #f36f63;
}

.footer-house01 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #f36f63;
  color: white;
  text-align: center;
}

.button-house01 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36384c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button-house01:hover {background-color: #2A8F8F}

.button-house01:active {
  background-color: #9BB8B4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* media queries */

@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 1rem;
  }

  #logo #logo-holder {
    justify-content: center;
    margin: 1rem 0;
  }

  #logo a {
  	width: 25%;
  }

}



@media all and (min-width: 700px) { 
  
  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
  }

}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

}